 #preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fff;
   /* Background color */
   z-index: 9999;
   /* Place it above everything */
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .loader {
   border: 5px solid #f3f3f3;
   /* Light grey */
   border-top: 5px solid #3498db;
   /* Blue */
   border-radius: 50%;
   width: 50px;
   height: 50px;
   animation: spin 1s linear infinite;
 }

 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 .pagination-wrapper {
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }

 .pagination {
   display: inline-flex;
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .pagination li {
   margin: 0 5px;
 }

 .pagination a,
 .pagination span {
   display: block;
   padding: 8px 12px;
   border: 1px solid #ddd;
   border-radius: 4px;
   text-decoration: none;
   color: #007bff;
   transition: all 0.3s ease;
   height: 50px;
 }

 .pagination a:hover {
   background-color: #f8f9fa;
   border-color: #007bff;
 }

 .pagination .active span {
   background-color: #007bff;
   color: white;
   border-color: #007bff;
 }